@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --main-background-color:#F1EFEF;
  --main-light-blue:#7C81AD;
}

.scroll-up {
  scroll-behavior: smooth;
}

html,body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: var(--main-background-color);
  font-family: 'Poppins', sans-serif;  
}
input,textarea{
  background-color: inherit;
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.ant-select-selection-item{
  font-family: 'Poppins', sans-serif;
}
.ant-select-selector{
  border: 2px solid #7C81AD !important;
}