footer {
    padding: 3rem 0 0 0;
    background-color: var(--main-light-blue);
    margin-top: 5rem;
.footer{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    .logo{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .5rem 1rem;
        border-radius: .3rem;
        border: 1px solid #fff;
        font-size: 2rem;
        width: fit-content;
        margin-bottom: 2rem;
        cursor: pointer;
        color: #fff;

        p{
            font-weight: 700;
            font-family: 'Tilt Neon', sans-serif;
        }
    }
    .links{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .link{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            a{
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}

.copyright{
    font-size: 1.3rem;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    color: #fff;
}
}


@media(max-width:1240px){
    footer .footer{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        .links{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

    }

    footer .copyright{
        padding: 1rem;
    }
}