.about-us{
    margin-top: 6rem;
    h6{
        text-align: center;
        font-size: 2.2rem;
        font-weight: 500;
        color: var(--main-light-blue);
    }
    h3{
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
    }


    .images-boxes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 4rem;

        .thefirst-box,
        .thesecond-box{
            width: 50rem;
            height: 60rem;
            overflow: hidden;
            cursor: pointer;
            position: relative;

            .secret-hover{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #7c81ad86;
                transition: all .5s ease;
                top: 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p{
                    font-size: 3rem;
                    font-weight: 600;
                    color: #fff;
                }
                span{
                    font-size: 1.5rem;
                    font-weight: 200;
                    color: #fff;
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .7s ease-in-out;
            }
        }

        .thefirst-box:hover .secret-hover,
        .thesecond-box:hover .secret-hover{
            opacity: 1;
        }
        .thefirst-box:hover,
        .thesecond-box:hover{
            img{
                transform: scale(1.3);
            }
        }

        

    }

    .thesecond-section{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 7rem;

        .content{
            text-align: center;
            p{
                font-size: 1.6rem;
                font-weight: 500;
            }
            h5{
                font-size: 5rem;
                font-weight: 700;
            }
            span{
                font-weight: 200;
                font-size: 2rem;
            }
        }

        .thefirstside{
            display: flex;
            margin: 5rem auto;
            justify-content: space-between;
            .qutu{
                width: 50rem;
                height: 33rem;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                img{
                    width: 47rem;
                    height: 30rem;
                    object-fit: cover;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                }
                .qutu-back{
                    width: 47rem;
                    height: 30rem;
                    background-color: var(--main-light-blue);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                flex: 1;
                text-align: left;
                padding-left: 4rem;
                .icon{
                    font-size: 5rem;
                    margin-bottom: 1rem;
                    color: var(--main-light-blue);
                }
                p{
                    font-size: 3rem;
                    font-weight: 700;
                }
                span{
                    font-size: 1.7rem;
                    font-weight: 200;
                    line-height: 2rem;
                    color: #4a4949;

                }
            }
        }

        .thesecondside{
            display: flex;
            margin: 5rem auto;
            justify-content: space-between;

            .qutu{
                width: 50rem;
                height: 33rem;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                img{
                    width: 47rem;
                    height: 30rem;
                    object-fit: cover;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
                .qutu-back{
                    width: 47rem;
                    height: 30rem;
                    background-color: var(--main-light-blue);
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                flex: 1;
                text-align: right;
                padding-right: 4rem;
                position: relative;
                
                .icon{
                    font-size: 5rem;
                    margin-bottom: 1rem;
                    color: var(--main-light-blue);
                    position: absolute;
                    right: 4rem;
                    top: 4.5rem;
                }
                p{
                    font-size: 3rem;
                    font-weight: 700;
                }
                span{
                    font-size: 1.7rem;
                    font-weight: 200;
                    line-height: 2rem;
                    color: #4a4949;
                    
                }
            }
        }
    }

    .partners{
        text-align: center;
        background-color: var(--main-light-blue);
        padding: 5rem 0;
        margin-top: 7rem;
        user-select: none;
        p{
            font-size: 2rem;
            font-weight: 200;
        }
        h5{
            font-size: 4rem;
            font-weight: 700;
        }
        .partners-logos{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: 0 auto;
        }
    }
}