.watch-about{
    max-width: 1200px;
    width: 100%;
    margin: 7rem auto;

    .watch-about-card{
        display: flex;
        justify-content: space-between;
        .left-card{
            display: flex;
            flex: 1;
            flex-direction: column;
            .logo{
                display: flex;
                width: fit-content;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;
                cursor: pointer;
                border: 1px solid #000;
                padding: .5rem 1rem;
                border-radius: .3rem;
                margin-bottom: 2rem;

                p{
                    font-weight: 700;
                    font-family: 'Tilt Neon', sans-serif;
                }
            }

            h5{
                font-size: 4rem;
                color: var(--main-light-blue);
            }
            h6{
                font-size: 2.2rem;
                font-weight: 600;
            }

            .prices{
                display: flex;
                align-items: center;
                gap: 2rem;
                font-size: 1.6rem;
                color: #656565;
                .old-price{
                    text-decoration: line-through;
                }
            }

            .about{
                margin-top: 2rem;
                p{
                    font-size: 2rem;
                    font-weight: 200;
                }
            }
            .button{
                margin-top: 2rem;
            }

        }
        .right-card{
            width: 50rem;
            height: 50rem;
            overflow: hidden;
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}