header{
    width: 100%;

    nav{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        .left{
            display: flex;
            align-items: center;
            gap: 4rem;


            .logo{
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;

                p{
                    font-weight: 700;
                    font-family: 'Tilt Neon', sans-serif;
                }
            }


            .nav-links{
                display: flex;
                align-items: center;
                gap: 1.2rem;


                a{
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #000;
                }

                .active{
                    color: orange;
                    border-bottom: 1px solid orange;
                }
            }
        }

        .others{
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 2rem;
        }
    }
}